<h1><font color='blue'><center>Minería de datos</center></font></h1>
<h2><center>Tarea 2</center></h2>
<h3><center>Dana Reyes</center></h3>

<h2><font color='orchid'>Colecciones</font></h2>
Las colecciones son contenedores de objetos de mismo tipo. En Python estas colecciones son **tuplas**, **listas**, **conjuntos** y **diccionarios**. A continuación se muestran dos ejercicos donde se implentan estas.
<h3><font color='lightskyblue'><b>Ejercicio 1:</b></font></h3>

Defina un diccionario de al menos 4 llaves de tal manera que una de las llaves sea tupla, otra lista, otra conjunto y otra un diccionario. Luego, acceda a cada elemento.

In [166]:
b=[35,36]
c = {18,19,20}
d = (38,39,40)
e={'a':39,'b':29}
diccionario = {'Ana':20, 'Beto':b, 'Camilo':c,('Fabio','Elsa','Daniela'):d,'Nicole':e}
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print (diccionario)

<class 'list'>
<class 'set'>
<class 'tuple'>
<class 'dict'>
{'Ana': 20, 'Beto': [35, 36], 'Camilo': {18, 19, 20}, ('Fabio', 'Elsa', 'Daniela'): (38, 39, 40), 'Nicole': {'a': 39, 'b': 29}}

In [167]:
diccionario['Ana']

20

In [168]:
print(diccionario['Beto'])
print(diccionario['Beto'][0])
diccionario['Beto'][1]

[35, 36]
35

36

In [169]:
diccionario['Camilo']

{18, 19, 20}

In [170]:
print(diccionario[('Fabio','Elsa','Daniela')])
print(diccionario[('Fabio','Elsa','Daniela')][0])
print(diccionario[('Fabio','Elsa','Daniela')][1])
diccionario[('Fabio','Elsa','Daniela')][2]

(38, 39, 40)
38
39

40

In [171]:
print(diccionario['Nicole'])
print(diccionario['Nicole']['a'])
diccionario['Nicole']['b']

{'a': 39, 'b': 29}
39

29

<h3><font color='lightskyblue'><b>Ejercicio 2:</b></font></h3>
Recordemos que los métodos que se pueden utilizar en un diccionario son:

* **clear()**: Eliminar los elemntos del diccionario.
* **copy()**: Genera una copia del diccionario.
* **get(clave[,valor])**: Devuelve el valor de la clave.
* **items()**: Devuelve tuplas de cada llave con sus valores respectivos.
* **keys()**: Devuelve las llaves del diccionario.
* **pop(clave,[valor])**: Devuelve el valor del elemento de la clave y lo elimina del diccionario.
* **popitem()**: Devueleve aleatoriamente el valor de una llave con su valor respectivo.
* **setdefault(clave,[valor])**: Devuelve el valor de una llave y si esta cleve no exite la crea con los valores asignados.
* **update(iterable)**:
* **values()**: Devuleve los valores de las llaves.

Utilizar los diferentes métodos de los diccionarios para un diccionario sobre cuentas bancarias.

In [172]:
cuentas = {
    'numero_cuenta': (123,124,125,126,127),
    'cliente': ('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio'),
    'saldo': [500,400,50,1000,170]
}

In [173]:
cuentas.copy()

{'numero_cuenta': (123, 124, 125, 126, 127),
 'cliente': ('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio'),
 'saldo': [500, 400, 50, 1000, 170]}

In [174]:
cuentas.values()

dict_values([(123, 124, 125, 126, 127), ('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio'), [500, 400, 50, 1000, 170]])

In [175]:
cuentas.popitem()

('saldo', [500, 400, 50, 1000, 170])

In [176]:
cuentas2 = dict(saldo=[500, 400, 50, 1000, 170])
cuentas.update(cuentas2)
cuentas

{'numero_cuenta': (123, 124, 125, 126, 127),
 'cliente': ('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio'),
 'saldo': [500, 400, 50, 1000, 170]}

In [177]:
cuentas.pop('cliente')

('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio')

In [178]:
cuentas.keys()

dict_keys(['numero_cuenta', 'saldo'])

In [179]:
cuentas.setdefault('cliente',('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio'))

('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio')

In [180]:
cuentas.items()

dict_items([('numero_cuenta', (123, 124, 125, 126, 127)), ('saldo', [500, 400, 50, 1000, 170]), ('cliente', ('Ana', 'Beto', 'Camilo', 'Daniel', 'Fabio'))])